<section class="p-5">
    <div class="flex justify-center">

        <div class="w-50 flex flex-col text-center p-5 space-y-5">
            <h1 class="text-4xl font-bold text-et-turmeric">Registrarse</h1>

            <div class="flex rounded border-gray-300 border border-solid">
                <div class=" rounded border-gray-300 border border-solid  h-full w-10 flex items-center justify-center p-3">
                    <i class="fa fa-user"></i></div>
                <input class="w-full p-3" type="text" name="name" id="" placeholder="Nombre y apellido">
            </div>
            <div class="flex rounded border-gray-300 border border-solid">
                <div class=" rounded border-gray-300 border border-solid  h-full w-10 flex items-center justify-center p-3">
                    <i class="fa fa-user"></i></div>
                <input class="w-full p-3" type="text" name="user" id="" placeholder="Correo electrónico">
            </div>
            <div class="flex rounded border-gray-300 border border-solid items-center">
                <div class=" rounded border-gray-300 border border-solid  h-full w-10 flex items-center justify-center p-3">
                    <i class="fa-solid fa-key"></i></div>
                <input class="w-full p-3" type="password" name="email" id="" placeholder="Constraseña">
                <a href="" class="p-3"><i class="fa fa-eye"></i></a>
            </div>
            <div class="flex rounded border-gray-300 border border-solid items-center">
                <div class=" rounded border-gray-300 border border-solid  h-full w-10 flex items-center justify-center p-3">
                    <i class="fa-solid fa-key"></i></div>
                <input class="w-full p-3" type="password" name="email" id="" placeholder="Repetir Constraseña">
                <a href="" class="p-3"><i class="fa fa-eye"></i></a>
            </div>

            <div class="flex p-3 justify-center items-center">
                <input type="checkbox" name="terminos" id="" class="w-5 h-5 border border-gray-400 rounded  m-3">
                <p>Acepto los <a href="#" class="text-et-turmeric font-bold"> Terminos y condiciones</a></p>
            </div>
            <button
                class="btn btn--primary bg-et-turmeric px-5 py-3 rounded shadow-lg border-gray-400  border border-solid">Iniciar
                sesión</button>
            <div class="flex p-3 justify-center">
                <p>¿Ya tienes una cuenta? <a href="/eco-tienda/signin" class=" text-et-turmeric font-bold">Inicia sesión</a>
                </p>
            </div>
        </div>
        <div class="w-50">
            <img src="../../../../assets/signin1.png" alt="imagen">
        </div>
    </div>
</section>