<div class="bg-gradient-to-r from-et-primrose to-et-citrine-white">
  <div class="w-9/12 m-auto min-h-screen flex items-center justify-center">
    <div class="bg-et-alabaster shadow overflow-hidden sm:rounded-lg pb-8 px-6">
      <div class="border-t border-gray-200 text-center pt-8">
        <h2 class="text-6xl md:text-9xl font-bold text-et-mule-fawn">404</h2>
        <h3 class="text-3xl md:text-6xl font-medium py-8">Page not found</h3>
        <button routerLink="/eco-tienda" class="et-p-btn">HOME</button>
      </div>
    </div>
  </div>
</div>
