<div class="m-4">
  <header class="bg-et-mule-fawn w-full flex justify-between items-center px-4">
    <h1 class="text-4xl text-white"> Términos y condiciones</h1>
  </header>
  <br>
  <article class=" space-y-4">

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">

      1. Introducción:
    </h1>
    <p>
      Bienvenido a EcoTienda, tu fuente confiable de productos naturales de cuidado personal.
    </p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      2. Uso del Sitio Web:
    </h1>
    <p>
      Al acceder y utilizar nuestro sitio web, aceptas cumplir con estos términos y condiciones. No puedes realizar
      actividades ilegales o dañinas.
    </p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      3. Productos y Precios:
    </h1>
    <p>
      Describimos con precisión nuestros productos y sus precios en nuestro sitio web. Nos reservamos el derecho de
      cambiar los precios sin previo aviso.
    </p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      4. Pedidos y Pagos:
    </h1>
    <p>
      Puedes realizar pedidos a través de nuestro sitio web. Aceptamos como metodo de pago: MercadoPago.
      Te facturaremos después de que realices tu pedido.
    </p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      5. Envío y Entrega:
    </h1>
    <p>
      Procesaremos y enviaremos tu pedido en 5 días hábiles. Los costos de envío se calculan durante el proceso de pago.
      No nos hacemos responsables por problemas de entrega fuera de nuestro control.
    </p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      6. Propiedad Intelectual:
    </h1>
    <p>
      Todos los derechos de propiedad intelectual relacionados con nuestro sitio y contenido son propiedad de EcoTienda.
    </p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      7. Cancelación y Terminación:
    </h1>
    <p>
      Nos reservamos el derecho de cancelar o terminar cuentas de usuarios por violaciones a estos términos.
    </p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      8. Limitación de Responsabilidad:
    </h1>
    <p>
      No nos hacemos responsables por interrupciones del servicio o problemas técnicos. Nuestra responsabilidad se
      limita al valor de los productos comprados.
    </p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      9. Cambios en los Términos:
    </h1>
    <p>
      Nos reservamos el derecho de realizar cambios en estos términos, y te notificaremos de cualquier cambio
      importante.
    </p>
  </article>
</div>