<div class="space-y-10">
  <header class="m-4 w-full flex flex-col justify-center items-center px-4 space-y-4">
    <h1 class="text-4xl font-medium leading-tight lg:text-3xl">
      ¡Bienvenido a EcoTienda!</h1>
    <p>
      Somos una empresa dedicada a proporcionar productos naturales de cuidado personal, comprometidos con la salud y el
      bienestar de nuestros clientes en Argentina. Nos enorgullece ofrecer una selección cuidadosamente curada de
      productos que resaltan lo mejor de la naturaleza para tu rutina diaria de cuidado personal.
    </p>
  </header>
  <section class="m-4 flex justify-between space-x-4 space-y-4">


    <div class="px-4  space-y-4 w-3/4">

      <h1 class="bg-et-mule-fawn text-white text-2xl font-medium leading-tight lg:text-3xl p-2">
        Nuestra Misión
      </h1>
      <p>
        En EcoTienda, creemos en la belleza natural y en la importancia de cuidar tu piel y cabello de manera saludable.
        Nuestra misión es ofrecer productos de alta calidad, libres de químicos agresivos y respetuosos con el medio
        ambiente. Queremos que te sientas bien usando nuestros productos, sabiendo que estás brindándole a tu cuerpo lo
        mejor que la naturaleza tiene para ofrecer.

      </p>
    </div>
    <div class="flex items-center justify-center w-1/4">
      <img src="../../../../assets/p_Logo.png" alt="">
    </div>

  </section>
  <section class="m-4 flex flex-row-reverse justify-between space-x-4 space-y-4">


    <div class="px-4  space-y-4 w-3/4">

      <h1 class="bg-et-mule-fawn text-white text-2xl font-medium leading-tight lg:text-3xl p-2">
        Compromiso con la sostenibilidad
      </h1>
      <p>
        Estamos comprometidos con prácticas comerciales sostenibles. Desde la selección de ingredientes hasta el
        empaque, buscamos minimizar nuestro impacto en el medio ambiente. Nos esforzamos por trabajar con proveedores
        locales y promover el comercio justo, contribuyendo así al bienestar de las comunidades locales y al cuidado del
        planeta.
      </p>
    </div>
    <div class="flex items-center justify-center w-1/4">
      <img src="../../../../assets/p_Logo.png" alt="">
    </div>

  </section>
  <section class="flex  py-10 bg-et-primrose">
    <article class="w-1/2 mx-4 space-y-4 bg-white rounded-lg shadow-md">
      <h1 class="bg-et-mule-fawn text-white text-2xl font-medium leading-tight lg:text-3xl p-2">
        Nuestros Productos
      </h1>
      <div class="flex justify-center text-5xl ">

        <a class="rounded-full p-4 bg-et-mule-fawn text-et-turmeric">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </div>
      <p class="p-4">

        Explora nuestra gama de productos naturales, desde cremas hidratantes y aceites esenciales hasta champús y
        cuidado bucal. Cada producto ha sido seleccionado con atención a los beneficios que aporta a tu piel y cabello.
        Nos enorgullece ofrecer opciones que se adaptan a diferentes necesidades y tipos de piel.
      </p>

    </article>
    <article class="w-1/2 mx-4 space-y-4 bg-white rounded-lg shadow-md">
      <h1 class="bg-et-mule-fawn text-white text-2xl font-medium leading-tight lg:text-3xl p-2">
        ¿Por qué elegirnos?
      </h1>
      <div class="flex justify-center text-5xl ">

        <a class="rounded-full p-4 bg-et-mule-fawn text-et-turmeric">
          <i class="fa-regular fa-circle-question"></i>
        </a>
      </div>
      <p class="p-4">
        Calidad Garantizada: Nos esforzamos por ofrecer productos de la más alta calidad, elaborados con ingredientes
        naturales y efectivos.
        Sostenibilidad: Contribuimos a un mundo más verde a través de prácticas comerciales sostenibles y responsables.

      </p>

    </article>
  </section>
  <section class="space-y-4 py-10 bg-et-turmeric">
    <article class="mx-4 space-y-4 bg-white rounded-lg shadow-md">
      <h1 class="bg-et-mule-fawn text-white text-2xl font-medium leading-tight lg:text-3xl p-2">
        Compromiso con la Salud
      </h1>
      <p class="p-4">
        Nuestros productos están formulados para cuidar tu piel y cabello de manera natural, evitando ingredientes
        dañinos.

      </p>

    </article>
    <article class="mx-4 space-y-4 bg-white rounded-lg shadow-md">
      <h1 class="bg-et-mule-fawn text-white text-2xl font-medium leading-tight lg:text-3xl p-2">
        Contacto

      </h1>

      <p class="p-4">
        Estamos aquí para ayudarte en tu viaje hacia un cuidado personal más natural. Si tienes preguntas, comentarios o
        simplemente quieres conocernos mejor, no dudes en contactarnos. ¡Tu satisfacción es nuestra prioridad!


      </p>

    </article>
    <h1 class="bg-et-mule-fawn text-white text-2xl font-medium leading-tight lg:text-3xl p-2 text-center">
      <i>
      Gracias por elegir EcoTienda. ¡Esperamos que disfrutes de una experiencia de cuidado personal natural y saludable!

</i>
    </h1>
  </section>

</div>