<div class="m-4">
  <header class="bg-et-mule-fawn w-full flex justify-between items-center px-4">
    <h1 class="text-4xl text-white"> Políticas de privacidad</h1>
  </header>
  <br>
  <article class=" space-y-4">

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">

      1. Información Recopilada:</h1>
    <p>
      Recopilamos información personal como nombres, direcciones y datos de pago al procesar pedidos.
    </p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      2. Uso de la Información:</h1>
    <p>
      Utilizamos la información para procesar pedidos y mejorar nuestros servicios. No compartimos información con
      terceros sin tu consentimiento.
    </p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      3. Seguridad:</h1>
    <p>
      Implementamos medidas de seguridad para proteger tu información personal.
    </p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      4. Cookies y Tecnologías Similares: </h1>
    <p>
      Utilizamos cookies para mejorar la experiencia del usuario. Puedes
      gestionar las cookies en la configuración de tu navegador.</p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">

      5. Derechos del Usuario:</h1>
    <p>
      Tienes el derecho de acceder, corregir o eliminar tus datos personales. Contáctanos para ejercer estos derechos.
    </p>

  </article>
</div>