<header class="w-full text-gray-700 bg-et-citrine-white">
  <div class="flex flex-row">
    <div class="basis-1/4 my-4">
      <div class="z-20 flex justify-center">
        <a href="">
          <img
            src="../../../../assets/p_Logo.png"
            alt=""
            class="w-40 h-24 scale-75 md:scale-100"
          />
        </a>
      </div>
    </div>
    <div class="grow flex md:flex-col my-4">
      <div class="flex justify-center">
        <div class="relative w-2/3">
          <input
            class="w-full bg-white rounded border border-gray-300 focus:border-et-turmeric focus:ring-2 focus:ring-lime-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            type="search"
            placeholder="Search..."
          />
          <button
            class="absolute right-1 top-1/2 -translate-y-1/2 p-2 bg-et-swamp-green border-0 focus:outline-none hover:bg-et-turmeric"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 pt-0.5 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </button>
        </div>
        <div class="pt-2 relative mx-auto text-gray-600">
          <input
            class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
            type="search"
            name="search"
            placeholder="Search"
          />
          <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
            <svg
              class="text-gray-600 h-4 w-4 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              id="Capa_1"
              x="0px"
              y="0px"
              viewBox="0 0 56.966 56.966"
              style="enable-background: new 0 0 56.966 56.966"
              xml:space="preserve"
              width="512px"
              height="512px"
            >
              <path
                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
              />
            </svg>
          </button>
        </div>
      </div>
      <div>
        <input
          type="checkbox"
          name="hamburger"
          id="hamburger"
          class="peer"
          hidden
        />
        <label
          for="hamburger"
          class="peer-checked:hamburger block z-20 cursosr-pointer md:hidden transition p-5 hover:bg-gray-200 rounded"
        >
          <div class="h-0.5 w-6 bg-gray-700 transition"></div>
          <div class="mt-2 h-0.5 w-6 bg-gray-700 transition"></div>
        </label>
        <div
          class="bg-et-citrine-white w-3/5 shadow-lg transition flex flex-col justify-evenly fixed inset-0 translate-x-[-100%] peer-checked:translate-x-0 md:w-auto md:static md:shadow-none md:translate-x-0 md:flex-row"
        >
          <div
            class="px-6 pt-32 flex flex-col md:flex-row md:items-center gap-3 md:p-0"
          >
            <a
              href=""
              class="tracking-wide cursor-pointer px-3 py-2 transition hover:text-et-mule-fawn"
            >
              Inicio
            </a>
            <a
              href=""
              class="tracking-wide cursor-pointer px-3 py-2 transition hover:text-et-mule-fawn"
            >
              Productos
            </a>
            <a
              href=""
              class="tracking-wide cursor-pointer px-3 py-2 transition hover:text-et-mule-fawn"
            >
              Ofertas
            </a>
            <a
              href=""
              class="tracking-wide cursor-pointer px-3 py-2 transition hover:text-et-mule-fawn"
            >
              Conócenos
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="basis-1/4 my-4 flex items-center justify-evenly">
      <a class="p-2 text-gray-700 cursor-pointer hover:scale-125 transition">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
          />
        </svg>
      </a>
      <a class="p-2 text-gray-700 cursor-pointer hover:scale-125 transition">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z"
          />
        </svg>
      </a>
      <a class="p-2 text-gray-700 cursor-pointer hover:scale-125 transition">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
          />
        </svg>
      </a>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="w-full text-gray-700 bg-et-citrine-white">
  <div class="container px-5 py-12 mx-auto">
    <div
      class="flex flex-wrap md:text-left md:justify-evenly text-center order-first"
    >
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <div class="flex justify-center pb-4 md:pb-0">
          <a href="">
            <img
              src="../../../../assets/p_Logo.png"
              alt=""
              class="w-40 h-24 scale-75 md:scale-100"
            />
          </a>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font uppercase font-medium text-gray-900 tracking-widest text-sm mb-3"
        >
          Links Importantes
        </h2>
        <ul class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-et-mule-fawn"
              >Términos de servicio</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-et-mule-fawn"
              >Políticas de Privacidad</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-et-mule-fawn"
              >Devoluciones y reembolso</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-et-mule-fawn"
              >Envíos y despachos</a
            >
          </li>
        </ul>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3 uppercase"
        >
          Newsletter
        </h2>
        <div
          class="flex xl:flex-nowrap md:flex-nowrap lg:flex-wrap flex-wrap justify-center items-end md:justify-start"
        >
          <div class="w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-2">
            <label for="footer-field" class="leading-7 text-sm text-gray-600"
              >Email</label
            >
            <input
              type="text"
              id="footer-field"
              name="footer-field"
              class="w-full bg-white rounded border border-gray-300 focus:border-et-turmeric focus:ring-2 focus:ring-lime-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
          </div>
          <button
            class="mt-4 lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-et-swamp-green border-0 py-2 px-6 focus:outline-none hover:bg-et-turmeric rounded"
          >
            Suscribirme
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-et-mule-fawn">
    <div
      class="container px-4 py-3 mx-auto flex items-center sm:flex-row flex-col"
    >
      <p class="text-sm text-white sm:ml-6 sm:mt-0 mt-4">
        EcoTienda 2023 - Todos los derechos reservados.
      </p>
      <span
        class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-start"
      >
        <a class="text-white cursor-pointer hover:text-gray-900">
          <svg
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <path
              d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
            ></path>
          </svg>
        </a>
        <a class="ml-3 text-white cursor-pointer hover:text-gray-900">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path
              d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
            ></path>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>
