<div class="m-4">
  <header class="bg-et-mule-fawn w-full flex justify-between items-center px-4">
    <h1 class="text-4xl text-white"> Envíos y despacho</h1>
  </header>
  <br>
  <article class=" space-y-4">

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      1. Tiempos y Costos de Envío:</h1>
    <p>
      Los tiempos de envío varían según la ubicación. Los costos se calculan durante el proceso de pago.
      </p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      2. Destinos de Envío:</h1>
    <p>
      Realizamos envíos a todo el país. En C.A.B.A. los envíos pueden ser a domicilio o mediante correo argentino. Para G.B.A solo por correo argentino.
      </p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      3. Seguimiento de Envíos:
    </h1>
    <p>
      Proporcionamos información de seguimiento para que puedas rastrear tu pedido.
    </p>

    <h1 class="text-2xl font-medium leading-tight lg:text-3xl">
      4. Problemas de Envío:
    </h1>
    <p>
      Ponte en contacto con nosotros si experimentas problemas con la entrega. No nos hacemos responsables por problemas fuera de nuestro control.
    </p>
  </article>
</div>