<section class="p-5">
    <div class="flex">

        <div class="w-50 flex flex-col text-center p-5">

            <div class="flex m-3 rounded border-black border border-solid">
                <div class=" rounded border-black border border-solid  h-full w-10 flex items-center justify-center"><i class="fa fa-user">0</i></div>
                <input class="w-full p-3" type="text" name="user" id="" placeholder="Usuario o correo">
            </div>
            <div class="flex m-3 rounded border-black border border-solid items-center">
                <div class=" rounded border-black border border-solid  h-full w-10 flex items-center justify-center"><i class="fa fa-password">0</i></div>
                <input class="w-full p-3" type="password" name="email" id="" placeholder="Constraseña">
                <a href="" class="p-3"><i class="fa fa-eye">0</i></a>
            </div>

            <div class="flex p-3 justify-between items-center">
                <div>

                    <input type="checkbox" name="recuerdame" id="" class="m-3">
                    <a href="#" class="text-et-turmeric">Recuerdame</a>
                </div>
                <button
                    class="btn btn--primary bg-et-turmeric px-5 py-3 rounded shadow-lg border-black border border-solid">Iniciar
                    sesión</button>
            </div>
            <div class="flex p-3 justify-between text-et-turmeric">
                <a href="#">¿Olvidó su contraseña?</a>
                <a href="#">Registrate ahora</a>
            </div>
            <p class="text-et-turmeric">_________________ o _________________</p>
            <button
                class="flex btn btn--primary bg-blue-600 my-2 mx-3  rounded border-black border border-solid text-white">
                <div class="bg-blue-800 rounded border-black border border-solid h-full w-10 flex items-center justify-center">
                    <i class="fa fa-facebook">0</i>
                </div><span class="m-3">Iniciar sesión con Facebook</span>
            </button>
            <button
                class="flex btn btn--primary bg-red-600 my-2 mx-3  rounded border-black border border-solid text-white">
                <div class="bg-red-800 rounded border-black border border-solid  h-full w-10 flex items-center justify-center">
                    <i class="fa fa-google">0</i>
                </div><span class="m-3">Iniciar sesión con Google</span>
            </button>
        </div>
        <div class="w-50">
            <img src="../../../../assets/signin.png" alt="imagen">
        </div>
    </div>
</section>