<div
  class="container mx-auto flex p-5 md:flex-row flex-col items-center relative"
>
  <div class="lg:flex-grow flex items-center justify-center">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      class="flex flex-col text-center"
      autocomplete="off"
    >
      <h2 class="text-4xl font-bold text-et-turmeric">Iniciar sesión</h2>
      <div class="flex m-3 rounded border-gray-300 border border-solid">
        <div
          class="rounded border-gray-300 border border-solid h-full w-10 flex items-center justify-center p-4"
        >
          <i class="fa fa-user"></i>
        </div>
        <input
          formControlName="email"
          class="w-full p-3"
          type="text"
          name="user"
          placeholder="Correo electrónico"
        />
      </div>
      <span
        *ngIf="isValidField('email')"
        class="text-red-500 text-sm text-right pr-3"
      >
        Este campo es requerido
      </span>
      <div
        class="flex m-3 rounded border-gray-300 border border-solid items-center"
      >
        <div
          class="rounded border-gray-300 border border-solid h-full w-10 flex items-center justify-center p-4"
        >
          <i class="fa-solid fa-key"></i>
        </div>
        <input
          formControlName="password"
          class="w-full p-3"
          type="password"
          name="email"
          placeholder="Contraseña"
        />
        <a class="p-3"><i class="fa fa-eye"></i></a>
      </div>
      <span
        *ngIf="isValidField('password')"
        class="text-red-500 text-sm text-right pr-3"
      >
        Este campo es requerido
      </span>
      <div class="flex flex-col md:flex-row p-3 justify-between items-center">
        <div class="flex items-center">
          <input
            type="checkbox"
            name="recuérdeme"
            class="w-5 h-5 border border-gray-400 rounded m-3"
          />
          <a class="text-et-turmeric font-bold">Recuérdeme</a>
        </div>
        <button type="submit" class="et-p-btn">Iniciar sesión</button>
      </div>
      <div class="flex p-3 justify-between text-et-turmeric font-bold">
        <a>¿Olvidó su contraseña?</a>
        <a routerLink="/auth/new-account">Regístrate ahora</a>
      </div>
      <p class="text-et-turmeric font-bold invisible md:visible">
        _________________ o _________________
      </p>
      <button
        class="flex btn btn--primary bg-blue-600 my-2 mx-3 rounded text-white"
      >
        <div
          class="bg-blue-800 rounded h-full w-10 flex items-center justify-center"
        >
          <i class="fa fa-facebook p-4"></i>
        </div>
        <span class="m-3">Iniciar sesión con Facebook</span>
      </button>
      <button
        class="flex btn btn--primary bg-red-600 my-2 mx-3 rounded text-white"
      >
        <div
          class="bg-red-800 rounded h-full w-10 flex items-center justify-center"
        >
          <i class="fa fa-google p-4"></i>
        </div>
        <span class="m-3">Iniciar sesión con Google</span>
      </button>
    </form>
  </div>
  <div class="hidden md:block lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
    <img
      src="../../../../assets/signin1.png"
      alt=""
      class="object-cover object-center rounded"
    />
  </div>
</div>
