<section class="text-center p-5 space-y-4">
    <div style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
             url('../../../../assets/categoria/ptda_jabones.png');"
        class="flex flex-col justify-center items-center h-48 m-3 card-img rounded-lg shadow-lg p-5">
        <h1 class="text-4xl text-et-mule-fawn">Nombre de la categoría</h1>
        <p>______</p>
    </div>
    <div class="flex items-center p-5 space-x-4">
        <label>Ordenar por: </label>
        <select id="order"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected>Seleccione</option>
            <option value="0">Más vendidos</option>
            <option value="1">Alfabeticamente</option>
            <option value="2">Entre 2.00 - 5.00</option>
            <option value="3">Más de 5.00</option>
        </select>
    </div>
    <article class="flex flex-wrap p-5 justify-evenly">
        <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
            <div style="background-image: 
                        url('../../../../assets/productos/cuidadoPiel/cuidadoPiel_1.png');"
                class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                <h1 class="text-4xl text-et-mule-fawn">♥</h1>
            </div>
            <h1 class="text-3xl">Crema de camomila</h1>
            <div class="flex justify-between items-center">
                <div>
                    <ul class="flex">
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                    </ul>
                    <h1 class="text-3xl">$ 5.00</h1>
                </div>
                <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                    <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

            </div>


        </div>
        <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
            <div style="background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                        url('../../../../assets/categoria/prtda_cosmetica.png');"
                class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                <h1 class="text-4xl text-et-mule-fawn">♥</h1>
            </div>
            <h1 class="text-3xl">Jabón de camomila</h1>
            <div class="flex justify-between items-center">
                <div>
                    <ul class="flex">
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                    </ul>
                    <h1 class="text-3xl">$ 5.00</h1>
                </div>
                <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                    <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

            </div>


        </div>
        <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
            <div style="background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                        url('../../../../assets/categoria/prtda_cosmetica.png');"
                class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                <h1 class="text-4xl text-et-mule-fawn">♥</h1>
            </div>
            <h1 class="text-3xl">Jabón de camomila</h1>
            <div class="flex justify-between items-center">
                <div>
                    <ul class="flex">
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                    </ul>
                    <h1 class="text-3xl">$ 5.00</h1>
                </div>
                <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                    <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

            </div>


        </div>
        <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
            <div style="background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                        url('../../../../assets/categoria/prtda_cosmetica.png');"
                class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                <h1 class="text-4xl text-et-mule-fawn">♥</h1>
            </div>
            <h1 class="text-3xl">Jabón de camomila</h1>
            <div class="flex justify-between items-center">
                <div>
                    <ul class="flex">
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                    </ul>
                    <h1 class="text-3xl">$ 5.00</h1>
                </div>
                <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                    <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

            </div>


        </div>
        <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
            <div style="background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                        url('../../../../assets/categoria/prtda_cosmetica.png');"
                class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                <h1 class="text-4xl text-et-mule-fawn">♥</h1>
            </div>
            <h1 class="text-3xl">Jabón de camomila</h1>
            <div class="flex justify-between items-center">
                <div>
                    <ul class="flex">
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                    </ul>
                    <h1 class="text-3xl">$ 5.00</h1>
                </div>
                <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                    <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

            </div>


        </div>
        <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
            <div style="background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                        url('../../../../assets/categoria/prtda_cosmetica.png');"
                class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                <h1 class="text-4xl text-et-mule-fawn">♥</h1>
            </div>
            <h1 class="text-3xl">Jabón de camomila</h1>
            <div class="flex justify-between items-center">
                <div>
                    <ul class="flex">
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                    </ul>
                    <h1 class="text-3xl">$ 5.00</h1>
                </div>
                <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                    <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

            </div>


        </div>
        <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
            <div style="background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                        url('../../../../assets/categoria/prtda_cosmetica.png');"
                class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                <h1 class="text-4xl text-et-mule-fawn">♥</h1>
            </div>
            <h1 class="text-3xl">Jabón de camomila</h1>
            <div class="flex justify-between items-center">
                <div>
                    <ul class="flex">
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                    </ul>
                    <h1 class="text-3xl">$ 5.00</h1>
                </div>
                <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                    <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

            </div>


        </div>
        <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
            <div style="background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                        url('../../../../assets/categoria/prtda_cosmetica.png');"
                class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                <h1 class="text-4xl text-et-mule-fawn">♥</h1>
            </div>
            <h1 class="text-3xl">Jabón de camomila</h1>
            <div class="flex justify-between items-center">
                <div>
                    <ul class="flex">
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                        </li>
                    </ul>
                    <h1 class="text-3xl">$ 5.00</h1>
                </div>
                <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                    <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

            </div>


        </div>
    </article>
    <p>PAGINACIÓN DE ANGULAR</p>
</section>