<footer class="w-full text-gray-700 bg-et-citrine-white">
  <div class="container px-5 py-12 mx-auto">
    <div
      class="flex flex-wrap md:text-left md:justify-evenly text-center order-first"
    >
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <div class="flex justify-center pb-4 md:pb-0">
          <img
            src="../../../../assets/p_Logo.png"
            alt=""
            class="w-40 h-24 scale-75 md:scale-100"
          />
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font uppercase font-medium text-gray-900 tracking-widest text-sm mb-3"
        >
          Links Importantes
        </h2>
        <ul class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-et-mule-fawn"
              >Términos de servicio</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-et-mule-fawn"
              >Políticas de Privacidad</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-et-mule-fawn"
              >Devoluciones y reembolso</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-et-mule-fawn"
              >Envíos y despachos</a
            >
          </li>
        </ul>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3 uppercase"
        >
          Newsletter
        </h2>
        <div
          class="flex flex-wrap items-end justify-center md:flex-nowrap lg:flex-col xl:flex-row xl:items-end lg:items-center"
        >
          <div class="w-56 mr-2">
            <label for="footer-field" class="leading-7 text-sm text-gray-600"
              >Email</label
            >
            <input
              type="text"
              id="footer-field"
              name="footer-field"
              class="w-full bg-white rounded border border-gray-300 focus:border-et-turmeric focus:ring-2 focus:ring-lime-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
          </div>
          <button
            class="mt-2 flex-shrink-0 inline-flex text-white bg-et-swamp-green border-0 py-2 px-6 focus:outline-none hover:bg-et-turmeric rounded"
          >
            Suscribirme
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-et-mule-fawn">
    <div
      class="container px-4 py-3 mx-auto flex items-center sm:flex-row flex-col"
    >
      <p class="text-sm text-white sm:ml-6 sm:mt-0 mt-4">
        EcoTienda 2023 - Todos los derechos reservados.
      </p>
      <span
        class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-start"
      >
        <a class="text-white cursor-pointer hover:text-gray-900">
          <svg
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <path
              d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
            ></path>
          </svg>
        </a>
        <a class="ml-3 text-white cursor-pointer hover:text-gray-900">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path
              d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
            ></path>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>
