<footer class="w-full text-gray-700 bg-et-citrine-white">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-wrap md:text-left md:justify-evenly text-center order-first">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <div class="flex justify-center pb-4 md:pb-0">
          <img src="../../../../assets/p_Logo.png" alt="" class="w-40 h-24 scale-75 md:scale-100" />
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font uppercase font-medium text-gray-900 tracking-widest text-sm mb-3">
          Links Importantes
        </h2>
        <ul class="list-none mb-10">
          <li>
            <a routerLink="/eco-tienda/terminos-y-condiciones" class="text-gray-600 hover:text-et-mule-fawn">Términos de
              servicio</a>
          </li>
          <li>
            <a routerLink="/eco-tienda/politicas-de-privacidad" class="text-gray-600 hover:text-et-mule-fawn">Políticas
              de Privacidad</a>
          </li>
          <li>
            <a routerLink="/eco-tienda/devoluciones-y-reembolsos"
              class="text-gray-600 hover:text-et-mule-fawn">Devoluciones y reembolso</a>
          </li>
          <li>
            <a routerLink="/eco-tienda/envíos-y-despacho" class="text-gray-600 hover:text-et-mule-fawn">Envíos y
              despachos</a>
          </li>
        </ul>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3 uppercase">
          Newsletter
        </h2>
        <div
          class="flex flex-wrap items-end justify-center md:flex-nowrap lg:flex-col xl:flex-row xl:items-end lg:items-center">
          <div class="w-56 mr-2">
            <label for="footer-field" class="leading-7 text-sm text-gray-600">Email</label>
            <input type="text" id="footer-field" name="footer-field"
              class="w-full bg-white rounded border border-gray-300 focus:border-et-turmeric focus:ring-2 focus:ring-lime-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
          </div>
          <button
            class="mt-2 flex-shrink-0 inline-flex text-white bg-et-swamp-green border-0 py-2 px-6 focus:outline-none hover:bg-et-turmeric rounded">
            Suscribirme
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-et-mule-fawn">
    <div class="container px-4 py-3 mx-auto flex items-center sm:flex-row flex-col">
      <p class="text-sm text-white sm:ml-6 sm:mt-0 mt-4">
        EcoTienda 2023 - Todos los derechos reservados.
      </p>
      <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-start">
        <a href="https://github.com/No-Country/c15-21-m-java-angular" target="_blank"
          class="text-white cursor-pointer hover:text-gray-900">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.figma.com/file/0soYDr0A588epwPTbj09ap/EcoTienda?type=design&node-id=87%3A13&mode=design&t=zmjRIrCLiTmnbxi5-1"  target="_blank"
          class="ml-3 text-white cursor-pointer hover:text-gray-900">
          <i class="fa-brands fa-figma"></i>
        </a>
      </span>
    </div>
  </div>
</footer>