<p>detail-page works!</p>

<section class="flex p-5 space-x-4 space-y-4 bg-et-mongoose">
    <article class="flex flex-col items-center justify-between rounded-lg p-5 bg-white">
        <img src="../../../../assets/categoria/ptda_jabones.png" alt="">
        <ul class="flex justify-between items-center">
            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
            </li>
            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
            </li>
            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
            </li>
            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
            </li>
        </ul>
    </article>
    <article class="rounded-lg p-5 space-y-4 bg-white">
        <h1 class="text-4xl text-et-mule-fawn">Nombre del producto</h1>
        <ul class="flex">
            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
            </li>
            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
            </li>
            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
            </li>
            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
            </li>
            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
            </li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed accusantium facilis
            excepturi voluptates maxime quidem, maiores a aliquid tenetur vero aperiam commodi
            ex inventore dicta dolor amet corporis cupiditate enim.
            excepturi voluptates maxime quidem, maiores a aliquid tenetur vero aperiam commodi
            ex inventore dicta dolor amet corporis cupiditate enim.
        </p>
        <div class="flex justify-between items-center">
            <h1 class="text-3xl">$ 5.00</h1>
            <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                <span class="text-2xl">Añadir al carrito</span> <img src="../../../../assets/1x/carrito.png" alt=""
                    class="w-10"></a>
        </div>

    </article>

</section>