<main>
    <section class="p-5 space-y-4">
        <ul class="flex space-x-4 items-center justify-evenly">
            <li><a href=""><img src="../../../../assets/1x/r_1.png" alt="" class="h-32"></a></li>
            <li><a href=""><img src="../../../../assets/1x/r_2.png" alt="" class="h-32"></a></li>
            <li><a href=""><img src="../../../../assets/1x/r_3.png" alt="" class="h-32"></a></li>
            <li><a href=""><img src="../../../../assets/1x/r_4.png" alt="" class="h-32"></a></li>
            <li><a href=""><img src="../../../../assets/1x/r_5.png" alt="" class="h-32"></a></li>
        </ul>

        <div class="text-center space-y-4 flex flex-col justify-center items-center">

            <h1 class="text-4xl font-bold">Bienvenido a EcoTienda</h1>
            <i class="text-et-mule-fawn">Por una vida Sustentable</i>
            <button class="btn btn--primary bg-et-turmeric px-5 py-3 rounded shadow-lg
                 border-gray-400  border border-solid block
                 w-fit">Ver
                todo</button>
        </div>
    </section>

    <section>
        <article class="flex flex-wrap p-5 justify-evenly">

            <div style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
             url('../../../../assets/categoria/ptda_jabones.png');"
                class="flex justify-center items-center w-1/4 h-48 m-3 card-img rounded-lg shadow-lg ">
                <h1 class="text-4xl text-et-mule-fawn">Jabones</h1>
            </div>
            <div style="background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
             url('../../../../assets/categoria/ptda_Higiene_dental.png');"
                class="flex justify-center items-center w-1/4 h-48 m-3 card-img rounded-lg shadow-lg ">
                <h1 class="text-4xl text-et-mule-fawn">Higiene Dental</h1>
            </div>
            <div style="background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
            url('../../../../assets/categoria/ptda_shampu.png');"
                class="flex justify-center items-center w-1/4 h-48 m-3 card-img rounded-lg shadow-lg ">
                <h1 class="text-4xl text-et-mule-fawn">Shampoo</h1>
            </div>
            <div style="background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
            url('../../../../assets/categoria/ptda_desodorantes.png');"
                class="flex justify-center items-center w-1/4 h-48 m-3 card-img rounded-lg shadow-lg ">
                <h1 class="text-4xl text-et-mule-fawn">Desodorante</h1>
            </div>
            <div style="background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
            url('../../../../assets/categoria/ptda_cremas.png');"
                class="flex justify-center items-center w-1/4 h-48 m-3 card-img rounded-lg shadow-lg ">
                <h1 class="text-4xl text-et-mule-fawn">Cremas</h1>
            </div>
            <div style="background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
            url('../../../../assets/categoria/prtda_cosmetica.png');"
                class="flex justify-center items-center w-1/4 h-48 m-3 card-img rounded-lg shadow-lg ">
                <h1 class="text-4xl text-et-mule-fawn">Cosmética</h1>
            </div>
        </article>
    </section>
    
    <section class="text-center">

        <h1 class="text-4xl font-bold">Productos destacados</h1>

        <article class="flex flex-wrap p-5 justify-evenly">
            <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
                <div style="background-image:url('../../../../assets/productos/cuidadoPiel/cuidadoPiel_2.png');
            background-size: cover; width: 92%; height: 220px;"
                    class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                    <h1 class="text-4xl text-et-mule-fawn">♥</h1>
                </div>
                <h1 class="text-3xl">Aceite de Aloe-Vera</h1>
                <div class="flex justify-between items-center">
                    <div>
                        <ul class="flex">
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                        </ul>
                        <h1 class="text-3xl">$ 5.00</h1>
                    </div>
                    <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                        <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

                </div>


            </div>
            <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
                <div style="background-image:url('../../../../assets/productos/champues/champu_3.png');
                background-size: cover; width: 92%; height: 220px;"
                    class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                    <h1 class="text-4xl text-et-mule-fawn">♥</h1>
                </div>
                <h1 class="text-3xl">Champù Sòlido</h1>
                <div class="flex justify-between items-center">
                    <div>
                        <ul class="flex">
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                        </ul>
                        <h1 class="text-3xl">$ 5.00</h1>
                    </div>
                    <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                        <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

                </div>


            </div>
            <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
                <div style="background-image:url('../../../../assets/productos/champues/champu_4.png');
                background-size: cover; width: 92%; height: 220px;"
                    class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                    <h1 class="text-4xl text-et-mule-fawn">♥</h1>
                </div>
                <h1 class="text-3xl">Champù Sòlido</h1>
                <div class="flex justify-between items-center">
                    <div>
                        <ul class="flex">
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                        </ul>
                        <h1 class="text-3xl">$ 5.00</h1>
                    </div>
                    <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                        <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

                </div>


            </div>
            <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
                <div style="background-image:url('../../../../assets/productos/jabones/jabon_6.png');
                background-size: cover; width: 92%; height: 220px;"
                    class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                    <h1 class="text-4xl text-et-mule-fawn">♥</h1>
                </div>
                <h1 class="text-3xl">Jabón de Avena</h1>
                <div class="flex justify-between items-center">
                    <div>
                        <ul class="flex">
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                        </ul>
                        <h1 class="text-3xl">$ 5.00</h1>
                    </div>
                    <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                        <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

                </div>


            </div>
            <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
                <div style="background-image:url('../../../../assets/productos/higieneDental/dental_3.png');
                background-size: cover; width: 92%; height: 220px;"
                    class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                    <h1 class="text-4xl text-et-mule-fawn">♥</h1>
                </div>
                <h1 class="text-3xl">Crema Dental</h1>
                <div class="flex justify-between items-center">
                    <div>
                        <ul class="flex">
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                        </ul>
                        <h1 class="text-3xl">$ 5.00</h1>
                    </div>
                    <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                        <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

                </div>


            </div>
            <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
                <div style="background-image:url('../../../../assets/productos/higieneDental/dental_5.png');
                background-size: cover; width: 92%; height: 220px;"
                    class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                    <h1 class="text-4xl text-et-mule-fawn">♥</h1>
                </div>
                <h1 class="text-3xl">Crema de Carbòn</h1>
                <div class="flex justify-between items-center">
                    <div>
                        <ul class="flex">
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                        </ul>
                        <h1 class="text-3xl">$ 5.00</h1>
                    </div>
                    <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                        <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

                </div>


            </div>
            <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
                <div style="background-image:url('../../../../assets/productos/jabones/jabon_5.png');
                background-size: cover; width: 92%; height: 220px;"
                    class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                    <h1 class="text-4xl text-et-mule-fawn">♥</h1>
                </div>
                <h1 class="text-3xl">Jabón de aracuyà</h1>
                <div class="flex justify-between items-center">
                    <div>
                        <ul class="flex">
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                        </ul>
                        <h1 class="text-3xl">$ 5.00</h1>
                    </div>
                    <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                        <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

                </div>


            </div>
            <div class="rounded-lg shadow-lg flex flex-col w-1/5 m-5 text-left space-y-4">
                <div style="background-image:url('../../../../assets/productos/desodorant/desodorant_5.png');
                background-size: cover; width: 92%; height: 220px;"
                    class="flex h-32 m-3 card-img rounded-lg shadow-lg ">
                    <h1 class="text-4xl text-et-mule-fawn">♥</h1>
                </div>
                <h1 class="text-3xl">Bamboo Fresh</h1>
                <div class="flex justify-between items-center">
                    <div>
                        <ul class="flex">
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                            <li><a href=""><img src="../../../../assets/1x/fav_destacados.png" class="w-6" alt=""></a>
                            </li>
                        </ul>
                        <h1 class="text-3xl">$ 5.00</h1>
                    </div>
                    <a href="#" class="flex justify-center items-center rounded-tl-xl rounded-br-xl bg-et-turmeric p-5">
                        <img src="../../../../assets/1x/carrito.png" alt="" class="w-10"></a>

                </div>


            </div>
        </article>
        <div class="w-full flex justify-center m-5">

            <button class="btn btn--primary bg-et-turmeric px-5 py-3 rounded shadow-lg
            border-gray-400  border border-solid block
            w-fit">Ver más</button>
        </div>
    </section>
</main>